# Export the following names
# useDynLib(SCArray, c_rowVars_update, c_rowVars_final)

# Export all names
exportPattern("^sc*")
exportClasses(SCArrayAssay)
S3method(GetAssayData, SCArrayAssay)
S3method(SetAssayData, SCArrayAssay)
S3method(CreateSeuratObject, SCArrayAssay)
S3method(NormalizeData, DelayedMatrix)
S3method(ScaleData, DelayedMatrix)
S3method(FindVariableFeatures, DelayedMatrix)


# Import all packages listed as Imports or Depends
import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(DelayedArray)
import(gdsfmt)
import(DelayedMatrixStats)
importFrom(SummarizedExperiment, SummarizedExperiment, colData, rowData,
    assays, assay, "assay<-")
importFrom(SingleCellExperiment, SingleCellExperiment)
importFrom(utils, object.size, packageVersion, read.delim, str)
importFrom(stats, loess)

# Import the classes and methods in SeuratObject / Seurat
importClassesFrom(SeuratObject, Assay)
importFrom(SeuratObject, GetAssayData)
importFrom(SeuratObject, SetAssayData)
importFrom(SeuratObject, CreateSeuratObject)
importFrom(Seurat, ScaleData)
importFrom(Seurat, NormalizeData)
importFrom(Seurat, FindVariableFeatures)

# Import the classes and methods in SCArray
importClassesFrom(SCArray, SC_GDSArray, SC_GDSMatrix)
