# Export the following names
# useDynLib(SCArray.sat, )

# Export all names
exportPattern("^sc*")
exportClasses(SCArrayAssay)
S3method(GetAssayData, SCArrayAssay)
S3method(SetAssayData, SCArrayAssay)
S3method(NormalizeData, SC_GDSMatrix)
S3method(ScaleData, SC_GDSMatrix)
S3method(FindVariableFeatures, SC_GDSMatrix)
S3method(RunPCA, SCArrayAssay)
S3method(RunPCA, SC_GDSMatrix)


# Import all packages listed as Imports or Depends
import(methods)
import(S4Vectors)
importFrom(DelayedArray, blockReduce, colAutoGrid, sweep)
importFrom(gdsfmt, createfn.gds, openfn.gds, closefn.gds, add.gdsn, write.gdsn)
importFrom(utils, capture.output, packageVersion, txtProgressBar,
    setTxtProgressBar)
importFrom(stats, loess)

# Import the classes and methods in SeuratObject / Seurat
importClassesFrom(SeuratObject, Assay)
importFrom(SeuratObject, GetAssayData, SetAssayData, CreateSeuratObject,
    VariableFeatures, AddMetaData, IsMatrixEmpty, Key,
    CheckDots, CheckGC, CreateDimReducObject)
importFrom(Seurat, NormalizeData, ScaleData, FindVariableFeatures, RunPCA)

# Import the classes and methods in SCArray
importClassesFrom(SCArray, SC_GDSArray, SC_GDSMatrix)
importFrom(SCArray, scArray, scExperiment, scObj, scSetMax,
    colSums, colVars, rowMeans, rowVars, rowSds)

importFrom(BiocSingular, runExactSVD, runIrlbaSVD)

